.body {

display : flex;
flex-direction : row;
justify-content : center;
align-items : center;
margin:5px;
padding:10px;

}

.entry {
    display : flex;
    flex-wrap: wrap;
    flex-direction : column;
    justify-content : center;
    align-items : center;
    margin:1vh;
    padding:1vh;
    font-size: small;
    border-radius: 15px;
    min-width:20vh;
    height: 50px;
    background-color: #b3e192;
}