.body {

display : flex;
flex-direction : row;
justify-content : center;
align-items : center;
margin:5px;
padding:10px;

}

.entry {
    display : flex;
    flex-direction : column;
    justify-content : center;
    align-items : center;
    margin:5px;
    padding:10px;
    border: 1px solid black;
    border-radius: 5px;
    min-width:200px;
    height: 50px;
    background-color: #f0f0f0;
}