.body1 {
   
display : flex;
flex-direction : column;
justify-content : center;
align-items : center;
margin-top:5px;
margin-bottom:5px;
padding:5px;
width: 80%;
background-color: rgba(150, 217, 198, 0.532);

}


.entry {
    display : flex;
    flex-wrap: wrap;
    flex-direction : column;
    justify-content : center;
    align-items : center;
    margin:1vw;
    padding:1vw;
    font-size: small;
    border-radius: 15px;
    min-width:90px;
    height: 20px;
    background-color:rgba(243, 247, 246, 0.532);
}

.body2 {

    display : flex;
    flex-direction : row;
    justify-content : center;
    align-items : center;
    margin:5px;
    padding:10px;
    /* background-color: rgba(150, 217, 198, 0.532); */
    
    }